.idcard {
  width: 100%;
  height: 100%;

  .idcard-loading {
    margin-top: 24px;
    text-align: center;
    font-size: 14px;
  }

  .idcard-frame {
    width: 100%;
    height: 100%;
    margin-top: 2px;

    &.hidden {
      display: none;
    }
  }
}
