header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
  box-shadow: 0 1px 2px 0 rgba(12, 0, 46, .15);

	.logo {
		font-size: 24px;
		background: linear-gradient(to bottom,white,black); 
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin-left: 12px;
	}
}

header nav {
  margin-left: 20px;
	display: flex;
}

header a {
	font-size: 16px;
	color: #4d4d4d;
	padding: 0.75rem;
	text-decoration: none;
}

header a.active {
	color: #4a75b5;
}

header a:hover {
	color: #4a75b5;
}

@media (max-width: 512px) {
	header {
		.logo {
			display: none;
		}
	}

	.img-compress .image-upload {
		width: 90% !important;
	}
}
